.app {
  display: flex;
  flex-flow: row wrap;
}

.app-layout {
  width: 80%;
  margin: 0 auto;
}

.app-layout_open-modal {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.app-layout_open-modal_button {
  height: 40px;
  background-color: #45a1ed;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.app_header {
  text-align: center;
  background-color: #282c34;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  padding: 0 24px;
}

.app_header_username {
  margin-left: auto;
}

